<div id="content">
    <br/>
    <center>
    <%= image_tag("useless.png", :alt => "a useless idea", id: "about_image") %>
</center>
    <ul id="about"> With useless hypothetical, you can: <br/><br/>
        <li>vote on useless hypotheticals</li>
        <li>create new useless hypotheticals</li>
        <li>take delight in an unrestrained, pointless activity</li>
    </ul>
    
</div>