<div id="content">
    <h2 id="maintitle">With useless hypothetical, you can:</h2>
    
        <ul id="about">
            <li>vote on useless hypotheticals</li>
            <li>create new useless hypotheticals</li>
            <li>take delight in an unrestrained, pointless activity</li>
        </ul>
    
</div>