<h1>would you rather...</h1>
<%= @random_set[:hypo1] %><strong> OR </strong>
<%= @random_set[:hypo2] %>
<br/>
<br/>
<%= link_to 'New Hypothetical', new_hypothetical_path %> | <%= link_to 'Admin', admin_path %>
