<div id="content">
    <h2 id="maintitle">oh no!</h2>
    <div class="container">
        <p id = "nomore">It looks like we're all out of useless hypotheticals. Why not <%= link_to 'submit', new_hypothetical_path %> your own?</p>
    </div>
</div>